body{
	max-width: 1286px;
	background-color: #56836F;
	padding: 49px 55px 100px 70px;
}
.logo{
	width: 203px;
	float: right;
	display: block;
}
nav{
	float: right;
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;
	padding-right: 4px;
	padding-left: 109px;
}
li{
	display: inline-block;
	font-size: 48px;
	color: #FFFFFF;
	font-family: Myriadpro Regular;
	margin-left: 34px;
}
.clear{
	clear: right;
}
.container{
	margin: 60px 0 80px 0
}
.box img{
	width: 152px;
	object-fit: cover;
}
.box{
	height: 356px;
	width: 520px;
	display: inline-block;
	vertical-align: top;
	background-color: #FCEE21;
	padding: 20px 30px 20px 25px;
}
.box p{
	text-align: left;
	font-size: 14px;
	color: #006837;
	font-family: Segoe UI;
}
.box:first-child {
	float: left;
}
.box:nth-child(2) {
	float: right;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
.box:first-child img {
	float: right;
}
.box:nth-child(2) img {
	float: left;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}